# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

data/interim
data/processed_TOLOKA_scores
data/TOLOKA_Markup
data/Models_info

# !data/datasets
# !data/results